<div ng-show="waiting"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="20" height="20"/>
    Please wait...
</div>

<div ng-hide="waiting">
    <div class="container-fluid margin-top-20px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-horizontal well">

                    <div class="control-group">
                        <ngcart-cart></ngcart-cart>
                    </div>

                    <div class="control-group">
                        <input type="button" class="btn btn-default btn-sm pull-right" ng-click="emptyCart()" value="empty cart!">
                    </div>

                    <br>

                    <div ng-hide="!ngCart.getTotalItems()" class="control-group">
                        <div class="control-group">
                            <h5>Note:</h5>
                            <div class="controls">
                                <textarea class="form-control input-xlarge" ng-model="note" rows="2"></textarea>
                            </div>
                        </div>
                        <h5>Pick Up Time:</h5>
                        <p class="input-group">
                            <input type="text" style="background-color: white" readonly="readonly"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="dt" is-open="status.opened"
                                   ng-focus="open($event)"
                                   ng-change="getDt()"
                                   min-date="minDate"
                                   max-date="'2050-06-22'"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   close-text="Close"
                                   datepicker-popup-template-url="template/datepicker/popupMod.html"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                        <timepicker ng-model="dt" hour-step="1" minute-step="15" show-meridian="true" min="minTime" max="maxTime"></timepicker>


                        <div class="control-group">
                            <form name="notiemail" ng-submit="saveEmail()">
                                <h5>email:</h5>
                                <input class="form-control"
                                       name="email"
                                       type="email"
                                       required ng-model="clientEmail.$value"
                                       ng-change="saveEmail(clientEmail.$value&&!notiemail.email.$error.email)">

                                <h5>phone number:</h5>
                                <input  class="form-control" ng-model="clientPhone" type="text"
                                       ui-mask="(999) 999-9999"
                                       ng-change="savePhone()"/>

                                <label>upon pickup
                                    <input type="radio" ng-model="paymentMethod" value="uponPickup">
                                </label>
                                <!--<label>online:-->
                                    <!--<input type="radio" ng-model="paymentMethod" value="online">-->
                                <!--</label>-->

                            </form>
                            <span ng-show="notiemail.email.$error.email">INVALID_EMAIL</span>
                        </div>

                        <!--<div class="control-group">-->
                            <!--<form ng-show="paymentMethod==='online'" stripe-form="stripeCallback" name="myForm" ng-submit="checkOut()">-->
                                <!--<div ng-show="payOnline"></div>-->
                                <!--<div class="controls">-->
                                    <!--<label for="">Card number</label>-->
                                    <!--<input type="text" class="input-block-level" ng-model="number" payments-validate="card"-->
                                           <!--payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>-->
                                <!--</div>-->

                                <!--<div class="controls">-->
                                    <!--<label for="">Expiry</label>-->
                                    <!--<input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry"-->
                                           <!--payments-format="expiry"/>-->
                                <!--</div>-->

                                <!--<div class="controls">-->
                                    <!--<label for="">Name on card </label>-->
                                    <!--<input type="text" class="input-block-level">-->
                                <!--</div>-->

                                <!--<div class="controls">-->
                                    <!--<label for="">CVC</label>-->
                                    <!--<input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc"-->
                                           <!--payments-format="cvc" payments-type-model="type"/>-->
                                <!--</div>-->

                                 <!--<br>-->
                                <!--<div class="controls">-->
                                    <!--<button type="submit" class="btn btn-danger btn-large pull-right">Submit</button>-->
                                    <!--&lt;!&ndash;<input type="button" class="btn btn-warning btn-large" ng-click="emptyCart()" value="empty cart!">&ndash;&gt;-->
                                    <!--<button class="btn btn-warning btn-large" ng-click="keepShopping()">shop more</button>-->
                                <!--</div>-->
                            <!--</form>-->


                        <!--</div>-->

                        <div class="control-group">

                            <form ng-show="paymentMethod==='uponPickup'" ng-submit="checkOut()">
                                <div class="span4">
                                    <button type="submit" class="btn btn-danger btn-large pull-right">Submit</button>
                                    <!--<input type="button" class="btn btn-warning btn-large" ng-click="emptyCart()" value="empty cart!">-->
                                    <button class="btn btn-warning btn-large" ng-click="keepShopping()">shop more</button>
                                </div>
                            </form>

                        </div>

                    </div>



                </form>
            </div>
        </div>
    </div>
</div>

