

<div class="container-fluid" style="margin-top: 2%;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form name="accountInfo" class="form-horizontal well">

                <div class="control-group text-center">
                    <img src="{{profile.profileImageURL}}" height="200" width="200">
                </div>

                <div class="control-group">
                    <label>Name:</label>
                    <input class="form-control input-xlarge" type="text" name="name"
                           ng-model="profile.name" ng-change="popSaved()"
                           ng-model-options="{debounce:1000}">
                </div>


                <div class="control-group">
                    <label>Contact Email:</label>
                    <input class="form-control input-xlarge" ng-model="profile.email"
                           ng-change="popSaved()"
                           ng-model-options="{debounce:1000}"
                           name="email"
                           type="email">

                    <span ng-show="accountInfo.email.$error.email">INVALID_EMAIL</span>
                </div>

                <br>

                <div class="control-group" ng-show="user.provider==='password'">

                    <legend>Change Password</legend>

                    <label>
                        <span>Old Password:</span>
                        <input class="form-control input-xlarge" type="password" ng-keypress="clear()" ng-model="oldpass"/>
                    </label>

                    <label>
                        <span>New Password:</span>
                        <input class="form-control input-xlarge" type="password" ng-keypress="clear()" ng-model="newpass"/>
                    </label>

                    <label>
                        <span>Confirm New Password:</span>
                        <input class="form-control input-xlarge" type="password" ng-keypress="clear()" ng-model="confirm"/>
                    </label>

                    <button class="btn btn-sm btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

                    <p class="error" ng-show="err">{{err}}</p>

                    <p class="good" ng-show="msg">{{msg}}</p>
                </div>

                <br>

                <div class="control-group" ng-show="user.provider==='password'">
                    <legend>Change Account Email</legend>

                    <label>
                        <span>New Email:</span>
                        <input class="form-control input-xlarge" type="text" ng-keypress="clear()" ng-model="newEmail"/>
                    </label>

                    <label>
                        <span>Password:</span>
                        <input class="form-control input-xlarge" type="password" ng-keypress="clear()" ng-model="pass"/>
                    </label>

                    <button class="btn btn-sm btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>

                    <p class="error" ng-show="emailerr">{{emailerr}}</p>

                    <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
                </div>
                <hr>
                <div class="control-group">
                    <button class="btn btn-large btn-danger" ng-click="logout()">Log Out</button>
                </div>
            </form>
        </div>
    </div>
</div>


