


<div class="container margin-top-20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h2>Thank you!</h2>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">date: {{date}}</li>
                        <li class="list-group-item">client name: {{invoice.clientName}}</li>
                        <!--<li class="list-group-item">client id: {{invoice.clientId}}</li>-->
                        <li class="list-group-item">
                            <div ng-repeat="(productId, productInfo) in invoice.products">
                            {{productInfo.itemName}}({{productInfo.price|currency : '$' : 2}})*{{productInfo.quantity}}
                            </div>
                        </li>
                        <li class="list-group-item">subtotal:{{subTotal|currency : '$' : 2}}</li>
                        <li class="list-group-item">status: received</li>
                        <li class="list-group-item">schedule:{{invoice.schedule| date: 'M/d/yy'}}/{{invoice.schedule| date: 'h:mm a'}}</li>
                        <li class="list-group-item">payment: {{invoice.payment.token? 'credit card': 'upon pickup'}}</li>

                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-sm btn-primary" ng-click="OK()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>