<h2>test</h2>

<h3>local</h3>
class1: {{view.class1}}<br>
class2: {{view.class2}}<br>
class3: {{view.class3}}<br>
class4: {{view.class4}}<br>
condition: {{view.condition}}
<br>
path1:<input ng-model="test.path1"> <br>
path2:<input ng-model="test.path2"> <br>
path3:<input ng-model="test.path3"> <br>
path4:<input ng-model="test.path4"> <br>

<h3>global</h3>
class5: {{view.class5}}<br>
class6: {{view.class6}}<br>
class7: {{view.class7}}<br>
class8: {{view.class8}}<br>
<br>
path1:<input ng-model="path.path1"> <br>
path2:<input ng-model="path.path2"> <br>
path3:<input ng-model="path.path3"> <br>
path4:<input ng-model="path.path4"> <br>
path5:<input ng-model="path.path5"> <br>
path6:<input ng-model="path.path6"> <br>
path7:<input ng-model="path.path7"> <br>
path8:<input ng-model="path.path8"> <br>
<br>

<h3>select test</h3>
<label>Main Options:
    <select ng-model="test.selectedOption" ng-options="option.name for option in test.options"></select>
</label>
<br>
<label>Sub Options:
    <select ng-model="test.selectedSubOption" ng-options="option.name for option in test.subOptions"></select>
</label>