<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hojia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="bootstrap-4.0.0-alpha/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="bootstrap-social.css"/>
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <link rel="icon" href="image/home.jpg" type="image/jpeg"/>
</head>
<body ng-cloak>

<alert ng-repeat="(index, broadcast) in broadcasts" type="{{broadcast.type}}" close="closeBroadcast(index)">
    {{broadcast.msg}}
</alert>
<ul class="nav nav-tabs" style="background-color: #C6EBF1;">
    <li><a href="#/home"> <i class="fa fa-home fa-2x"></i> Hojia!!!</a></li>
    <!--<li><a href="#/chat">chat</a></li>-->
    <!--<li><a href="#/products">products</a></li>-->
    <!--<li><a href="#/allOrders">all orders</a></li>-->
    <li ng-show="debug"><a href="#/backEnd">backend</a></li>

    <li class="pull-right" ng-hide="loggedIn"><a href="#/login" ><i class="fa fa-user fa-2x"></i>
        login</a></li>
    <!--<li ng-hide="loggedIn" ng-click="isLogInOpen=!isLogInOpen"><a href="">login</a></li>-->
    <li class="pull-right" ng-show="loggedIn" dropdown on-toggle="toggled(open)"><a href dropdown-toggle>Hello,
        {{userInfo[userInfo.provider].displayName||userInfo[userInfo.provider].email}} <i class="fa fa-user fa-2x"></i>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
            <li><a href="#/account">Your Info</a></li>
            <li><a href="#/myOrders">Your orders</a></li>
            <li><a ng-click="logout()">Log Out</a></li>
        </ul>
    </li>


    <li class="pull-right" ng-show="loggedIn"><a href="#/shoppingCart"><i class="fa fa-shopping-cart fa-2x"></i> <span
            class="badge" style="background-color: #FFB300;">{{cartTotalItems}}</span> Cart</a></li>
    <!--<li ng-show="loggedIn" ng-click="isAccountOpen=!isAccountOpen"><a href="">account</a></li>-->
    <!--<li><a href="#/objectGenerator">objectGenerator</a></li>-->
</ul>


<div ng-view style="min-height: calc(100% - 98px);">
</div>


<footer style="padding-top: 10px; background-color: #F27143;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pull-left" style="min-width: 50%; display: block;">
                <a href="#/aboutUS" style="text-decoration: none; color:#f1f1f1;">About</a>
                <span style="color:#f1f1f1;">·</span>
                <a href="#/termofUse" style="text-decoration: none; color:#f1f1f1;">Terms</a>
                <span style="color:#f1f1f1;">·</span>
                <a href="#/contact" style="text-decoration: none; color:#f1f1f1;">Contact</a>
            </div>

            <div class="col-md-6" style="min-width: 50%; display: block;">
                <div class="pull-right">
                    <a social-twitter custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-twitter-square ng-isolate-scope"
                       style="color: #f1f1f1; text-decoration: none;" href=""></a>
                    <a social-facebook custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-facebook-square ng-scope" style="color: #f1f1f1; text-decoration: none;"
                       href=""></a>
                    <a social-gplus custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-google-plus-square ng-scope" style="color: #f1f1f1; text-decoration: none;"
                       href=""></a>
                    <a social-pinterest custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-pinterest-square ng-isolate-scope"
                       media="http://lorempixel.com/100/100/nature/1" style="color: #f1f1f1; text-decoration: none;"
                       href=""></a>
                    <a social-linkedin custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-linkedin-square ng-scope" style="color: #f1f1f1; text-decoration: none;"
                       href=""></a>
                    <a social-stumbleupon custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-stumbleupon ng-scope" style="color: #f1f1f1; text-decoration: none;"
                       href=""></a>
                    <a social-reddit custom-url="https://hojia.firebaseapp.com/#/home"
                       class="fa-2x fa fa-reddit-square ng-scope" style="color: #f1f1f1;text-decoration: none;"
                       href=""></a>
                    <a social-vk custom-url="https://hojia.firebaseapp.com/#/home" class="fa-2x fa fa-vk ng-scope"
                       style="color: #FFFFFF;text-decoration: none;" href=""></a>


                </div>

            </div>

        </div>

        <div class="row">
            <div class="text-center" style="color: #FFFFFF;">
                Copyright &copy 2015 I Min Lin. All rights reserved
            </div>
        </div>

    </div>

</footer>


<!--<account-window is-open="isAccountOpen"></account-window>-->
<!--<log-in-window is-open="isLogInOpen"></log-in-window>-->

<!--<h3 class="pull-right">-->
<!--<a social-twitter class="fa fa-twitter-square ng-isolate-scope"></a>-->
<!--<a social-facebook class="fa fa-facebook-square ng-scope"></a>-->
<!--<a social-gplus class="fa fa-google-plus-square ng-scope"></a>-->
<!--<a social-pinterest class="fa fa-pinterest-square ng-isolate-scope"-->
<!--media="http://lorempixel.com/100/100/nature/1"></a>-->
<!--<a social-linkedin class="fa fa-linkedin-square ng-scope"></a>-->
<!--<a social-stumbleupon class="fa fa-stumbleupon ng-scope"></a>-->
<!--<a social-reddit class="fa fa-reddit-square ng-scope"></a>-->
<!--<a social-vk class="fa fa-vk ng-scope"></a>-->
<!--&lt;!&ndash;<a social-ok>share on ok.ru</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a social-xing>share on xing</a>&ndash;&gt;-->
<!--</h3>-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.x/angular.min.js"></script>
<script src="//cdn.firebase.com/js/client/2.2.x/firebase.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/1.0.x/angularfire.min.js"></script>
-->
<script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
<!--<script src="bower_components/angular/angular.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>

<script src="bower_components/angular-route/angular-route.js"></script>
<!--<script src="core/firebase-mod.js"></script>-->
<!--<script src="bower_components/firebase/firebase.js"></script>-->
<script src="bower_components/angularfire/dist/angularfire.js"></script>

<!--<script src="bower_components/angular-stripe/release/angular-stripe.js"></script>-->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!--<script>-->
<!--Stripe.setPublishableKey('your_stripe_publishable_key');-->
<!--</script>-->
<script src="bower_components/angular-payments/lib/angular-payments.min.js"></script>
<script src="bower_components/angular-ui-scrollpoint/dist/scrollpoint.js"></script>


<!--<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">-->
<!--<script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>-->

<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>


<script type="text/javascript" src="bower_components/angular-ui-validate/dist/validate.js"></script>


<script src="config.js"></script>

<!--<script src="pages/test/test.js"></script>-->
<script src="pages/chat/chat.js"></script>
<script src="pages/login/login.js"></script>
<script src="pages/account/account.js"></script>
<script src="pages/productDetail/productDetail.js"></script>
<script src="pages/home/home.js"></script>
<script src="pages/shoppingCart/shoppingCart.js"></script>
<script src="pages/myOrders/myOrders.js"></script>
<script src="pages/backEnd/backEnd.js"></script>
<script src="pages/aboutUS/aboutUS.js"></script>
<script src="pages/termofUse/termofUse.js"></script>
<script src="pages/contact/contact.js"></script>

<!--<script src="pages/allOrders/allOrders.js"></script>-->
<script src="pages/invoice/invoice.js"></script>
<script src="pages/error/error.js"></script>


<!--<script src="pages/objectGenerator/objectGenerator.js"></script>-->

<script src="app.js"></script>
<script src="components/appversion/appversion-directive.js"></script>
<script src="components/auth/auth.js"></script>
<script src="components/firebase.utils/firebase.utils.js"></script>
<script src="components/ngcloak/ngcloak-decorator.js"></script>
<script src="components/filters/filters.js"></script>
<script src="components/security/security.js"></script>
<script src="components/ngcart/ngCart.js"></script>
<script src="components/notify/notify.js"></script>
<link rel="stylesheet" href="components/notify/notify.css">

<script src="components/inputMask/ui-mask.js"></script>
<script src="components/socialLinks/socialLinks.js"></script>


<script src="core/snippet.js"></script>
<script src="core/viewLogic.js"></script>
<script src="core/model.js"></script>
<script src="core/localFb.js"></script>
<script src="core/binder.js"></script>
<script src="core/driver.js"></script>
<script src="core/action.js"></script>
<script src="core/init.js"></script>
<script src="core/elasticSearch.js"></script>


</body>
</html>
