<!doctype html>
<html lang="en" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-cloak>
<div layout="column">

    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu"
                         md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>Obsidian v1.0</h1>
        </div>
    </md-toolbar>
    <md-toolbar class="md-menu-toolbar" hide-sm>
        <div layout="row">
            <!--<md-toolbar-filler layout layout-align="center center">-->
            <!--<i class="material-icons">face</i>-->
            <!--</md-toolbar-filler>-->
            <ul class="menu">
                <li><a ui-sref="home">home</a></li>
                <!--<li ng-hide="loggedIn"><a ui-sref="login">login</a></li>-->
                <li ng-hide="loggedIn"><a href ng-click="showLogin=!showLogin">login2</a></li>
                <!--<li ng-show="loggedIn"><a ui-sref="account">account</a></li>-->
                <li ng-show="loggedIn"><a href ng-click="showAcc=!showAcc">account2</a></li>
                <li ng-show="loggedIn"><a ui-sref="shoppingCart">shopping cart [{{cartTotalItems}}]</a></li>
                <li ng-show="debug"><a href="#/backEnd">backend</a></li>
                <li ng-show="loggedIn"><a ui-sref="myOrders">myOrders</a></li>


                <li><a ui-sref="test">Test</a></li>
                <li><a ui-sref="test2">Test2</a></li>

            </ul>
        </div>
    </md-toolbar>

    <md-content ng-show="loggedIn&&showAcc"><ob-account state-params="showAcc"></ob-account></md-content>
    <md-content ng-show="!loggedIn&&showLogin"><ob-login></ob-login></md-content>

    <md-content ui-view></md-content>

    <div layout="row" flex>
        <!--<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"-->
        <!--md-is-locked-open="$mdMedia('gt-sm')">-->
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-swipe-left="toggleSidenav('left')">
            <ul>
                <li><a ui-sref="home">home</a></li>
                <li ng-hide="loggedIn"><a ui-sref="login">login</a></li>
                <li ng-show="loggedIn"><a ui-sref="account">account</a></li>
                <li ng-show="loggedIn"><a ui-sref="shoppingCart">shopping cart [{{cartTotalItems}}]</a></li>
                <li ng-show="debug"><a href="#/backEnd">backend</a></li>
                <li ng-show="loggedIn"><a ui-sref="myOrders">myOrders</a></li>


                <li><a ui-sref="test">Test</a></li>
            </ul>

        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
            </md-content>
        </div>
    </div>

</div>
<footer>
    <h2>
        <a social-twitter class="fa fa-twitter ng-isolate-scope" href=""></a>
        <a social-facebook class="fa fa-facebook ng-scope" href=""></a>
        <a social-gplus class="fa fa-google-plus ng-scope" href=""></a>
        <a social-pinterest class="fa fa-pinterest ng-isolate-scope" media="http://lorempixel.com/100/100/nature/1"
           href=""></a>
        <a social-linkedin class="fa fa-linkedin ng-scope" href=""></a>
        <a social-stumbleupon class="fa fa-stumbleupon ng-scope" href=""></a>
        <a social-reddit class="fa fa-reddit ng-scope" href=""></a>
        <a social-vk class="fa fa-vk ng-scope" href=""></a>
    </h2>
</footer>




<!-- In production use:  -->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-loader.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.3.0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

<!--<script src="bower_components/angularfire/dist/angularfire.js"></script>-->

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!--<script>-->
<!--Stripe.setPublishableKey('your_stripe_publishable_key');-->
<!--</script>-->



<script src="bower_components/angular-payments/lib/angular-payments.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>


<script type="text/javascript" src="bower_components/angular-ui-validate/dist/validate.js"></script>
<script src="core/obsidian.js"></script>

<script src="config.js"></script>


</body>
</html>
