<h2>All orders</h2>
<!--OrderId: {{selectedOrder.orderId}}<br>
Client name: {{selectedOrder.clientName}}<br>
Item name: {{selectedOrder.itemName}}<br>
List price: {{selectedOrder.listPrice}}<br>
Price: {{selectedOrder.price}}<br>
Sub total:{{selectedOrder.price*selectedOrder.quantity}}<br>
Created time: {{selectedOrder.createdTime}}<br>
Status: {{orderStatus[selectedOrder.orderId]}}-->
<button ng-click="loadOrders(1)">today</button>
<button ng-click="loadOrders(3)">last 3 days</button>
<button ng-click="loadOrders(7)">last week</button>
<button ng-click="loadOrders(65535)">all orders</button>
<hr>

<label>received: <input type="checkbox" ng-model="receivedChecked" ng-change="checkFilter(receivedChecked, {orderStatus:'received'})"></label>
<label>preparing: <input type="checkbox" ng-model="preparingChecked" ng-change="checkFilter(preparingChecked, {orderStatus:'preparing'})"></label>
<label>ready: <input type="checkbox" ng-model="readyChecked" ng-change="checkFilter(readyChecked, {orderStatus:'ready'})"></label>
<br>
search:<input ng-model="filterKeys">
<hr>
<div ng-repeat="order in allOrders||reverse" ng-init="orderStatus[order.$id]=order.orderStatus; renewSubTotal(order.$id, order.products, this)">
    <a href ng-click="selectOrder(order.$id, order)">{{order.$id}}</a>
    <a href ng-click="removeOrder(order.$id, order.clientId)">[X]</a><br>

    date: {{order.createdTime}}<br>
    client name: {{order.clientName}}<br>
    client id: {{order.clientId}}<br>
    ------------------------------------------------------
    <div ng-repeat="(productId, productInfo) in order.products">
        Item name: {{productInfo.itemName}}<br>
        Price: {{productInfo.price}}<br>
        Quantity: {{productInfo.quantity}}<br>
    </div>
    ------------------------------------------------------
    <br>
    status:
    <select ng-options="status for status in statusOptions"
           ng-model="orderStatus[order.$id]"
           ng-change="changeOrderStatus(order.$id, order.clientId, orderStatus[order.$id])">
    </select><br>
    subtotal:{{subTotal[order.$id]}}
    <hr>
</div>

