<md-dialog ng-firebase="products/{{id}}" loaded="loaded($value)" pure="true" flex="60" hide-md>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{$value.itemName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" layout-align="center center"  ng-click="cancel()">
                    <md-icon class="material-icons" style="height: 24px;">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding" layout-align="center center">
            <md-card>
                <img class="md-card-image" ng-src="{{$value.image}}">
                <md-card-content layout-align="center center">
                    listPrice:{{$value.listPrice|currency : '$' : 2}}<br>
                    price:{{$value.price|currency : '$' : 2}}<br>
                    you save: {{1-$value.price/$value.listPrice| percentage:0}}<br>
                    options:<select ng-options="option for option in $value.options" ng-model="$value.selectedOption"></select><br>
                    description:{{$value.description}}<br>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">

                    <ngcart-addtocart ng-show="loggedIn" id="{{ $value.itemId }}" name="{{ $value.itemName }}" price="{{ $value.price }}" quantity="{{$value.quantity}}" quantity-max="30" data="$value">Add</ngcart-addtocart>

                    <md-button class="md-raised" ng-click="cancel()" style="background-color: lightcoral">keep shopping</md-button>
                </div>
            </md-card>
        </md-dialog-content>
    </form>
    </md-dialog-content>

</md-dialog>


