<h2>My orders</h2>
OrderId: {{selectedOrder.orderId}}<br>
Item name: {{selectedOrder.itemName}}<br>
Price: {{selectedOrder.price|currency : '$' : 2}}<br>
Sub total:{{selectedOrder.price*selectedOrder.quantity|currency : '$' : 2}}<br>
Created time: {{selectedOrder.createdTime}}
Status: {{selectedOrder.orderStatus}}
<hr>
<div ng-repeat="(orderId, order) in myOrders">
    <a href ng-click="selectOrder(orderId)">{{orderId}}</a><br>
    Date: {{order.createdTime}}<br>
    Status: {{order.orderStatus}}
    <hr>
</div>
