
<div class="container-fluid margin-top-20px">
    <div class="row">
        <div class="col-sm-3">
            <!-- Left column -->
            <ul class="nav nav-stacked">
                <li class="nav-header">
                    <accordion>
                        <accordion-group heading="Orders">
                            <ul class="nav nav-stacked">
                                <li><a ng-click="loadOrders(-65535,65535)"> All orders </a></li>
                                <li><a ng-click="loadOrders(-0.5,1)"> Today </a></li>
                                <li><a ng-click="loadOrders(-0.5,3)"> In 3 days </a></li>
                                <li><a ng-click="loadOrders(7, 65535)"> Next week </a></li>
                            </ul>
                        </accordion-group>
                    </accordion>
                </li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading"><h5>Search</h5></div>
                <div class="panel-body">
                    <label>
                        <input type="radio" ng-model="filterOpt.orderStatus" value="received">
                        received
                    </label> <br>
                    <label>
                        <input type="radio" ng-model="filterOpt.orderStatus" value="preparing">
                        preparing
                    </label> <br>
                    <label>
                        <input type="radio" ng-model="filterOpt.orderStatus" value="ready">
                        ready
                    </label> <br>

                    <hr>


                    <br>

                    <input class="form-control input-xlarge" ng-model="search" ng-change="refreshFilter()" placeholder="Seaching..." >

                </div>
            </div>
        </div>

        <div class="col-sm-9">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Stauts</th>
                        <th>Payment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in myOrders||reverse" ng-init="calcSubTotal(order.$id, order.products, this)">
                        <td>{{order.schedule| date: 'M/d/yy'}}/{{order.schedule| date: 'h:mm a'}}</td>
                        <td>
                            <div ng-repeat="(productId, productInfo) in order.products">
                                {{productInfo.itemName}}*{{productInfo.quantity}}
                            </div>
                        </td>
                        <td>{{subTotal[order.$id]|currency : '$' : 2}}</td>
                        <td>
                            {{order.orderStatus}}
                        </td>
                        <td>{{order.payment.method}}{{order.payment.status=='succeeded'? ':paid':''}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/col-span-9-->

    </div>
</div>


