<h2>test</h2>

class1: {{view.class1}}<br>
class2: {{view.class2}}<br>
class3: {{view.class3}}<br>
class4: {{view.class4}}<br>
condition: {{view.condition}}
<br>

<h3>local</h3>
path1:<input ng-model="test.path1"> <br>
path2:<input ng-model="test.path2"> <br>
path3:<input ng-model="test.path3"> <br>
path4:<input ng-model="test.path4"> <br>

<h3>global</h3>
path1:<input ng-model="path.path1"> <br>
path2:<input ng-model="path.path2"> <br>
path3:<input ng-model="path.path3"> <br>
path4:<input ng-model="path.path4"> <br>
path5:<input ng-model="path.path5"> <br>
path6:<input ng-model="path.path6"> <br>
path7:<input ng-model="path.path7"> <br>
path8:<input ng-model="path.path8"> <br>
<br>