<h2>test</h2>

<h3>local</h3>
view.class1: {{view.class1}}<br>
view.class2: {{view.class2}}<br>
view.class3: {{view.class3}}<br>
condition: {{view.condition}}
<br>
test.path1:<input ng-model="test.path1"> <br>
test.path2:<input ng-model="test.path2"> <br>
test.path3:<input ng-model="test.path3"> <br>
test.path4:<input ng-model="test.path4"> <br>

<h3>global</h3>
view.class1: {{view.class1}}<br>
view.class2: {{view.class2}}<br>
view.class3: {{view.class3}}<br>
view.class4: {{view.class4}}<br>
view.class5: {{view.class5}}<br>
view.class6: {{view.class6}}<br>
<br>
path.path1:<input ng-model="path.path1"> <br>
path.path2:<input ng-model="path.path2"> <br>
path.path3:<input ng-model="path.path3"> <br>
path.path4:<input ng-model="path.path4"> <br>
path.path5:<input ng-model="path.path5"> <br>
path.path6:<input ng-model="path.path6"> <br>
path.path7:<input ng-model="path.path7"> <br>
path.path8:<input ng-model="path.path8"> <br>
<br>
